<div class="text-center">
    {{#if presentations}}
      {{#each presentations as |item|}}
        {{> presentation item=item }}

            {{#if @last}}
            <form action="/session" method="POST">

              URL:<br>
              <input type="text" name="url"><br>
              <input type="hidden" name="position" value="{{@index}}">
              <input type="hidden" name="session_id" value="{{item.session_id}}">
              <input type="submit" value="Submit">
        
            </form>
            {{else}}
            
            {{/if}}
      {{/each}}
    {{else}}
      <div class="rounded bg-light p-5 text-center text-muted">
          <p class="m-4">No Presentations for this Session</p>
      </div>

      <form action="/session" method="POST">

        URL:<br>
        <input type="text" name="url"><br>
        <input type="hidden" name="position" value="{{-1}}">
        <input type="hidden" name="session_id" value="{{item.session_id}}">
        <input type="submit" value="Submit">
  
      </form>
    {{/if}}
    </div>


   